<div>

  <div class="submit-form">

    <div *ngIf="!submitted">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="char.name" name="name"/>
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <input type="text" class="form-control" id="status" required [(ngModel)]="char.status" status="status"/>
      </div>
      <div class="form-group">
        <label for="species">Species</label>
        <input type="text" class="form-control" id="species" required [(ngModel)]="char.species" species="species"/>
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <input type="text" class="form-control" id="gender" required [(ngModel)]="char.gender" gender="gender"/>
      </div>
      <div class="form-group">
        <label for="origin">Origin</label>
        <input type="text" class="form-control" id="origin" required [(ngModel)]="char.origin" origin="origin"/>
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <input type="text" class="form-control" id="image" required [(ngModel)]="char.image" image="image"/>
      </div>

      <button (click)="saveChar()" class="btn btn-success">Submit</button>

    </div>

    <div *ngIf="submitted">
      <h4>The information introduced is correct.</h4>
      <h4>Click "Add" to add the character to the database.</h4>
      <button class="btn btn-success" (click)="newChar()">Add</button>
    </div>

  </div>
</div>
