<div class="container" *ngIf="data != null; else waiting">
  <div class="row">
    <div class="col-md-3">
      <img src="{{data.image}}" class="card-img-top" alt="Character face image" />
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{data.name}}</h5>
        <p class="card-text">Species: {{data.species}}</p>
        <p class="card-text">Gender: {{data.gender}}</p>
        <p class="card-text">Origin: {{data.origin}}</p>
        <p class="card-text">Status: {{data.status}}</p>
      </div>
      <button class="btn btn-danger" (click)="deleteCharacter()">Delete</button>
      <button class="btn btn-warning" *ngIf="data.status" (click)="changeStatus(false)">Change status to Dead</button>
      <button class="btn btn-success" *ngIf="!data.status" (click)="changeStatus(true)">Change status to Alive</button>
    </div>
  </div>
</div>
<ng-template #waiting>Loading...</ng-template>
